/* CONTAINER */
.Contact {
  background-color: white;
  margin: 5rem 5rem 1rem 5rem;
}

.Contact .contact-block {
  display: flex;
  justify-content: center;
  background-color: rgba(34, 52, 76, 0.8);
  padding: 2rem;
  margin: 3rem 5rem;
  border-radius: 10px;
  box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.4);
}

/* HEADER */
.Contact h2 {
  font-size: 3rem;
  font-family: var(--heading-font-family);
}

.Contact h2,
h3 {
  text-align: center;
}
/* CONTACT DETAILS */
.Contact li {
  list-style: none;
}

.Contact .contact-icon {
  color: #fff;
  padding: 20px;
  font-size: 26px;
}
.Contact .contact {
  color: white;
  font-family: var(--default-font-family);
  font-size: 26px;
  text-decoration: none;
}
.Contact .contact:hover {
  text-decoration: underline;
}
