.Footer {
  text-align: right;
  padding: 10px 20px;
}
.Footer .footer-icon {
  padding: 2px;
}

.Footer a {
  text-decoration: none;
  padding: 0.5rem;
  color: black;
}

.Footer i {
  padding: 0.25rem;
}
