.Footer {
  background-color: white;
  text-align: right;
  padding: 10px 20px;
}
.Footer .footer-icon {
  padding: 2px;
}

.Footer a {
  text-decoration: none;
  padding: 0.5rem;
}

.Footer i {
  padding: 0.25rem;
}

.Footer .background-image {
  background-color: white;
  background-image: url(/src/assets/alpine-mountain.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
