.Home .home-background {
  background-color: white;
  background-image: url(/src/assets/alpine-mountain.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100vw;
  height: 25rem;
  color: white;
  position: relative;
}

.Home h1 {
  font-family: var(--heading-font-family);
  font-size: 6rem;
  text-align: center;
  padding-top: 4rem;
}

.Home h2 {
  font-family: var(--default-font-family);
  text-align: center;
}

.Home h3 {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 4rem 2rem 0;
}
